<h1>About Me . . .</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "jasper.jpg", width: 300, alt: "profile image" %>
	</div>

	<div class="col-md-8">
		<p>Hello, and welcome to the about me section of my website. Here I have a few short sentences to inform you about me so lets light this candle! First off, I've worn many hats in my time. Everything from an actor where I specialized in getting murdered in the Halloween movies I made with friends to a part time magician. I enjoy learning new things, the Utah Jazz, and going to a good movie with a bucket of popcorn and an ice cold Cherry Coke. I have a very real fear that anytime I'm hiking in a narrow slot canyon or exploring a cave that there will be a sudden shift in the rocks and slowly crush me between them. Lastly, there will never be enough twinkies and Dr. Pepper to keep me happy, the joy is in the journey.</p>

	</div>
</div>
