<div class="app-card-container">
	<div class="card">

		<h1>Would you like to work with me?</h1>

		<hr>

		<div class="row">
			<div class="col-md-6">


				<h3>Phone Number</h3>

				<p><%= number_to_phone "8014147309" %></p>

				<h3>Email</h3>

				<p><a href="mailto:joshuathorup@gmail.com?subject=PortfolioContact" "email me">Email Me</a></p>

			</div>

				<div class="col-md-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3032.194898297876!2d-111.8212970489472!3d40.53728305612121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87527db7a710a69f%3A0xdc7238541717f2c3!2s11778+Hidden+Brook+Blvd%2C+Sandy%2C+UT+84092!5e0!3m2!1sen!2sus!4v1508981919802" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
		</div>
	</div>
</div>