
<div class="inner cover">
	<h1 class="cover-heading">Gagoosh!</h1>
	<p class="lead">We invite you to explore the wonder that is Josh Thorup. Is he more than a man? Some have argued that while others simpley hold him as merely truly exceptional. Take a look around and decide for yourself.</p>
	<p class="lead">
		<%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
	</p>
</div>

